@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3%;
    gap: 3%
}
button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

/* Flex boxes */
.sidebarflex {
    /* background-color: red; */
    width: 25%;
    justify-content: left;
    /* height: 100vh; */
}
.mainflex {
    width: 75%;
    /* height: 100vh; */
}
.headingflex {
    display: flex;
    align-items: center;
}
.miniheadingflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 8%;
}


/* Create new task btn */
#createbtn {
    padding: 10px 40px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
#createbtn:focus {
    background-color: #D6D6D6;
}

/* Mini calendar */
#minimonthbtn1 img {
    width: 15px;
    height: auto;
    transform: scaleX(-1);
}
#minimonthbtn2 img {
    width: 15px;
    height: auto;
}
.minimonthheading {
    font-size: 15px;
}
#minicalendar {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
#minicalendar thead th {
    padding-bottom: 1%;
}
.highlight {
background-color: rgb(199, 225, 249);
}

#minicalendar tbody td.blank {
    border: 0px solid white;
}
#minicalendar tbody td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: top;
    text-align: center;
    min-width: 15px;
    height: 20px;
}


/* Calendar buttons that change the month */
#monthbtn1 img {
    width: 35px;
    height: auto;
    transform: scaleX(-1);
}
#monthbtn2 img {
    width: 35px;
    height: auto;
}

/* Calendar heading */
.monthheading {
    font-size: 25px;
    padding-left: 20px;
}


/* Calendar body */
#calendar {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
#calendar thead th {
    padding-bottom: 1%;
}

#calendar tbody td.blank {
    border: 0px solid white;
}
#calendar tbody td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: top;
    text-align: center;
    min-width: 40px;
    height: 85px;
}