.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay div p {
    text-decoration: underline;
    font-style: italic;
    font-size: 13px;
}
  
.modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 50vw;
    height: max-content;
    margin: 0 auto;
    position: relative;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: 5px;
    width: 50px;
    height: 50px;
    align-items: center;
}
.close-button:hover {
    background: rgb(231, 231, 231);
    border: 1px black;
    border-radius: 100%;
}

.update-form div,
.create-form div {
    margin-bottom: 15px;
    display: flex; 
    align-items: top;
}

.update-form div label,
.create-form div label {
    margin-right: 10px;
}

.update-form div select,
.create-form div select {
    padding: 10px 20px;
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(253, 247, 178);
}

.create-form div option,
.create-form div option {
    padding: 5px;
    border: 0px;
}
/* Use important! to move these background colors to highest css priority */
.todo {
    background-color: rgb(253, 247, 178) !important; 
}

.in-progress {
    background-color: rgb(163, 231, 164) !important;
}

.done {
    background-color: rgb(163, 211, 255) !important;
}
  
.update-btn,
.create-btn {
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    background-color: rgb(231, 231, 231);
    border: 0px black;
    margin-top: 50px;
}
.update-form button:hover,
.create-form button:hover {
    background-color: rgb(214, 214, 214);
    border: 0px black;
}

#grade_weight {
    width: 60px;
}
#description {
    height: 40px;
}

